.App {
  text-align: center;
}

body {
  background-color: hsl(238, 36%, 89%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button {
  margin-top: 5px;
  background-color: hsl(238, 54%, 45%);
  padding: 3px 5px;
  border: black solid 2px;
  color: white;
}

nav {
  width: 100%;
  font-size: 12px;
  text-align: center;
  margin-top: 2rem;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
